.kalaha {
	width: 60px;
	height: 140px;
	color: grey;
	border-radius: 2em;
}

.player1 {
	width: 45px;
	height: 45px;
	background-color: #FFDC00;
	color: grey;
	border-radius: 2em;
	float: left;
}

.player2 {
	width: 45px;
	height: 45px;
	background-color: #7FDBFF;
	color: grey;
	border-radius: 2em;
	float: right;
}

#player1buttons {
	position: fixed;
	left: 142px;
	top: 40px;
	border-radius: 2em;
}
.player2:hover {
	background-color:#DDDDDD;
}

.player1:hover {
	background-color: #DDDDDD;
}

#player2buttons {
	position: fixed;
	left: 142px;
	top: 135px;
	border-radius: 2em;
}

#player1kalaha {
	background-color: #FFDC00;
	position: fixed;
	left: 450px;
	top: 40px;
}

#player2kalaha {
	background-color: #7FDBFF;
	position: fixed;
	left: 50px;
	top: 40px;
}

#player {
	background-color: #e3e1dc;
	position: fixed;
	left: 190px;
	top: 80px;
	border-radius: 4px;
	padding: 5px;
	font-family: sans-serif;
}

#winner {
	background-color: #e3e1dc;
	position: fixed;
	left: 170px;
	top: 200px;
	border-radius: 4px;
	padding: 5px;
	font-family: sans-serif;
}